button{
    margin: 5px;
}
#menuItemMenu, #menuItemAide{
    font-size: x-large;
}
#menuText{
    color: rgb(8, 148, 1);
}
#menuText:hover{
    background-color: rgb(221, 255, 0);
}
#menuEnregistrer, #menuQuitter, #menuNouveau{
    background-color: rgb(35, 29, 29);
    color: white;
}
#menuNouveau:hover{
    background-color: black;
    color: rgb(4, 125, 255);
}
#menuEnregistrer:hover{
    background-color: black;
    color: rgb(4, 255, 4);
}
#menuQuitter:hover{
    background-color: black;
    color: red;
}
#boiteAlignement{
    background-color: rgb(240, 47, 47);
}
#boiteBoutton{
    background-color: rgb(240, 47, 47);
}
#boiteCorps{
    background-color: rgb(82, 184, 15);
}
#nouveau{
    font-size: xx-large;
    color: rgb(179, 3, 3);
    margin: 140px 0px;
}
#nouveau:hover{
    color: rgb(255, 0, 0);
}
#load{
    font-size: xx-large;
    color: green;
}
#load:hover{
    color: rgb(0, 247, 0);
}
#textChoixNiveau{
    color: white;
    background-color: turquoise;
    margin: 50px;
}
#level1, #level2, #level3, #level4, #level5{
    color:rgb(127, 29, 198);
    margin: 140px 0px;
    font-size: xx-large;
} 
#valider{
    margin: 0px;
}
#textReponse{
    font-size: 40px;
    margin: 60px 100px -10px;
}
#lettreAlleatoire{
    font-size: 90px;
}
#valider{
    font-size: xx-large;
    margin: 0px 150px 50px;
    color: rgb(8, 106, 3);
}
#valider:hover{
    color: rgb(42, 252, 0);
}